@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
  font-family: "Black Ops One", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.header .header-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header .header-Wrap .again-And-Text-Wrap {
  display: flex;
  height: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-Wrap .again-And-Text-Wrap .again-Left-Wrap,
.header .header-Wrap .again-And-Text-Wrap .again-Right-Wrap {
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header .header-Wrap .again-And-Text-Wrap .again-Btn {
  padding: 10px 40px;
  background-color: rgb(255, 254, 254);
  color: rgb(99, 91, 91);
  font-family: "Black Ops One", sans-serif;
  font-size: 20px;
  transition: all 50ms ease-in-out;
  border: solid white 2px;
  cursor: pointer;
}

.header .header-Wrap .again-And-Text-Wrap .again-Btn:hover {
  transform: scale(1.1);
  background-color: rgb(39, 39, 39);
  color: white;
  border: solid white 2px;
}
