@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Black Ops One", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;

  .header-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .again-And-Text-Wrap {
      display: flex;
      height: 10%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
