@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

$fontOne: "Black Ops One", sans-serif;

body {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
  font-family: "Black Ops One", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;

  .header-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .again-And-Text-Wrap {
      display: flex;
      height: 10%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .again-Left-Wrap,
      .again-Right-Wrap {
        width: 50%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .again-Btn {
        padding: 10px 40px;
        color: rgb(39, 39, 39);
        background-color: white;
      }
    }
  }
}
