@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
  font-family: "Black Ops One", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.header .header-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header .header-Wrap .again-And-Text-Wrap {
  display: flex;
  height: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-Wrap .again-And-Text-Wrap .again-Left-Wrap,
.header .header-Wrap .again-And-Text-Wrap .again-Right-Wrap {
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header .header-Wrap .again-And-Text-Wrap .again-Btn {
  padding: 10px 40px;
  background-color: rgb(255, 254, 254);
  color: rgb(99, 91, 91);
  font-family: "Black Ops One", sans-serif;
  font-size: 20px;
  transition: all 50ms ease-in-out;
  border: solid white 2px;
  cursor: pointer;
}

.header .header-Wrap .again-And-Text-Wrap .again-Btn:hover {
  transform: scale(1.1);
  background-color: rgb(39, 39, 39);
  color: white;
  border: solid white 2px;
}

.header .header-Wrap .again-And-Text-Wrap .again-Btn:active {
  transform: scale(0.9);
}

.header .header-Wrap .again-And-Text-Wrap .again-Right-Text {
  background-color: white;
  color: rgb(99, 91, 91);
  font-size: 1.5rem;
  display: flex;
  gap: 5px;
  border-radius: 2px;
  padding: 10px;
}

.header .header-Wrap .Title-Wrap {
  height: 10%;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(99, 91, 91);
  border-radius: 2px;
}

.header .header-Wrap .Title-Wrap .Title-Text {
  font-family: "Black Ops One", sans-serif;
  font-size: 3rem;
}

.header .header-Wrap .decoration-Wrap {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header .header-Wrap .decoration-Wrap .decoration-Box {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 50%;
  background-color: aliceblue;
  color: rgb(99, 91, 91);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: solid rgb(99, 91, 91) 3px;
  z-index: 5;
}

.header .header-Wrap .decoration-Wrap .decoration-Line {
  width: 100%;
  height: 15px;
  background-color: aliceblue;
  position: absolute;
  top: 46%;
  left: 0;
  border-radius: 15px;
  border: solid rgb(99, 91, 91) 3px;
}

.header .header-Wrap .score-Input-Wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  text-align: center;
  align-items: center;
}
