@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

$fontOne: "Black Ops One", sans-serif;

$colorBackGroundOne: rgb(39, 39, 39);
$colorBackGroundTwo: rgb(99, 91, 91);

body {
  padding: 0;
  margin: 0;
  background-color: $colorBackGroundOne;
  font-family: "Black Ops One", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;

  .header-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .again-And-Text-Wrap {
      display: flex;
      height: 10%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .again-Left-Wrap,
      .again-Right-Wrap {
        width: 50%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .again-Btn {
        padding: 10px 40px;
        background-color: rgb(255, 254, 254);
        color: $colorBackGroundTwo;
        font-family: $fontOne;
        font-size: 20px;
        transition: all 50ms ease-in-out;
        border: solid white 2px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          background-color: $colorBackGroundOne;
          color: white;
          border: solid white 2px;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      .again-Right-Text {
        background-color: white;
        color: $colorBackGroundTwo;
        font-size: 1.5rem;
        display: flex;
        gap: 5px;
        border-radius: 2px;
        padding: 10px;
      }
    }

    .Title-Wrap {
      height: 10%;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: white;
      color: $colorBackGroundTwo;
      border-radius: 2px;

      .Title-Text {
        font-family: $fontOne;
        font-size: 3rem;
      }
    }

    .decoration-Wrap {
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: relative;

      .decoration-Box {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 50%;
        background-color: aliceblue;
        color: $colorBackGroundTwo;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border: solid $colorBackGroundTwo 3px;
        z-index: 5;

        .decoration-Text {
          font-size: 8rem;
        }
      }

      .decoration-Line {
        width: 100%;
        height: 15px;
        background-color: aliceblue;
        position: absolute;
        top: 46%;
        left: 0;
        border-radius: 15px;
        border: solid $colorBackGroundTwo 3px;
      }
    }

    .score-Input-Wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%;
      text-align: center;
      align-items: center;

      .input-Wrap {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        text-align: end;

        .input-Btn-Wrap {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 50%;
          gap: 30px;

          .number-Input {
            width: 200px;
            height: 100px;
            background-color: transparent;
            color: white;
            border: solid white 5px;
            font-family: $fontOne;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 5rem;
          }

          .check-Btn {
            width: 200px;
            height: 100px;
            background-color: transparent;
            color: white;
            border: solid white 5px;
            font-family: $fontOne;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            transition: all 50ms ease-in-out;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              background-color: white;
              border: solid $colorBackGroundTwo 5px;
              color: $colorBackGroundTwo;
            }

            &:active {
              transform: scale(0.9);
            }
          }
        }
      }

      .score-Wrap {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        border: solid white 10px;
        border-right: none;
        border-top: none;
        border-bottom: none;

        .score-Wrap-Wrapper {
          width: 100%;
          height: 50%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 30px;

          .title-Text-Score-Wrap {
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: start;
            justify-content: center;
            align-items: start;
            height: 50%;
            padding: 0;
            margin: 0;

            .score-1-Text {
              color: aliceblue;
              font-size: 2rem;
            }
          }
        }

        .Score-Number-Wrap {
          width: 90%;
          display: flex;
          flex-direction: column;
          text-align: start;
          justify-content: center;
          align-items: start;
          height: 50%;
          padding: 0;
          margin: 0;

          .main-Score {
            color: aliceblue;
            font-size: 2rem;
            padding: 0;
            margin: 0;
          }

          .high-Score {
            color: aliceblue;
            font-size: 2rem;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
// responsvness
@media screen and (max-width: 768px) {
  .header {
    .header-Wrap {
      .again-And-Text-Wrap {
        .again-Btn {
          padding: 10px 40px;
          font-size: 15px;
        }

        .again-Right-Text {
          padding: 0;
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 50px;
          font-size: 0.8rem;
        }
      }

      .Title-Wrap {
        .Title-Text {
          font-size: 1.3rem;
        }
      }

      .decoration-Wrap {
        .decoration-Box {
          height: 100px;
          width: 100px;
          border: none;

          .decoration-Text {
            font-size: 4rem;
          }
        }

        .decoration-Line {
          width: 100%;
          height: 3px;
          top: 50%;
          left: 0;
          border: none;
        }
      }

      .score-Input-Wrap {
        .input-Wrap {
          .input-Btn-Wrap {
            .number-Input {
              font-size: 2rem;
              width: 75%;
            }

            .check-Btn {
              font-size: 1.2rem;
              width: 75%;
            }
          }
        }

        .score-Wrap {
          border: solid white 5px;
          border-right: none;
          border-top: none;
          border-bottom: none;

          .score-Wrap-Wrapper {
            gap: 15px;

            .title-Text-Score-Wrap {
              .score-1-Text {
                font-size: 1.2rem;
              }
            }
          }

          .Score-Number-Wrap {
            .main-Score {
              font-size: 1.2rem;
            }

            .high-Score {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
